/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
  --primary: #395E66;
  --primary--dim: #72A98F;
  --secondary: white;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;

  --anim: 0.5s;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  background-color: var(--secondary);
}

textarea
{
    display: block;
    font-size: 20px;
    overflow: hidden;
    line-height: 40px;
    background-image: linear-gradient(to bottom, transparent, transparent 39px, #000000 0);
    background-size: 100% 40px;
    background-repeat: repeat-y;
    background-color: transparent;
    border: none;
    resize: none;
    width: calc(100vw - 600px);
}

form {
  flex-grow: 1;
}

input {
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
}

button {
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
}

table,td,th{
  text-align: center;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

.u-redFlatButton {
  border: 0.1em solid;
  padding: 0.2em 0.5em;
  box-shadow: none;
  background-color: white;
  border-color: rgb(199, 42, 42);
  color: rgb(199, 42, 42);
}

.u-redFlatButton:hover:enabled {
  background-color: rgb(199, 42, 42);
  color: white;
}

.u-redFlatButton:disabled {
  border-color: rgb(219, 107, 107);
  color: rgb(219, 107, 107);
}

.u-blackFlatButton {
  border: 0.1em solid;
  padding: 0.2em 0.5em;
  box-shadow: none;
  background-color: white;
  border-color: lightgray;
  color: black;
}

.u-blackFlatButton:hover {
  background-color: lightgray;
  color: black;
}

.u-blackFlatButton:disabled {
  background-color: white;
  color: lightgray;
}

.u-flex {
  display: flex;
}

.u-flexRow {
  display: flex;
  flex-direction: row;
}

.u-mobile {
  display: none;
}

@media screen and (max-width: 1000px){
  .u-flex {
    flex-direction: column;
  }
  textarea {
    width: calc(100vw - 3 * var(--l));
  }
  .u-mobile {
    display: block;
    width: calc(100vw - 3 * var(--l));
    margin-left: 0px;
  }
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-italic {
  font-style: italic;
}

.u-margin-top {
  margin-top: 0.5em;
}

.u-margin-bottom {
  margin-bottom: 0.5em;
}

.u-hidden {
  display: none;
}

.u-margin-right {
  margin-right: 0.5em;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.u-center {
  margin: auto;
}

.u-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.u-smallTitle {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.u-bigText {
  font-size: 20px;
}

.u-rodalTitle {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: 'Cabin', sans-serif;
  line-height: 1.125em;
}

.u-red {
  margin-top: 0.5em;
  color: red;
  font-size: 0.8em;
}

.u-searchBar {
  border: 1px solid lightgray;
  height: 1.5em;
  font-size: 1em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  width: 50%;
}

.u-formText {
  border: 1px solid lightgray;
  height: 1.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

select {
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 0 0.5em;
}
