.Card {
    border: 0;
    border-radius: 10%;
    box-shadow: none;
    margin-left: var(--s);
    margin-top: var(--s);
    width: 5em;
    height: 5em;
    font-size: 15px;
    background-color: whitesmoke;
}

.Card-emoji {
    font-size: 12px;
}
