.Journal-moodButton {
    border: 0;
    border-radius: 10%;
    box-shadow: none;
    margin-left: var(--s);
    margin-top: var(--s);
    font-family: 'Cabin', sans-serif;
}

.Journal-subContainer {
    flex-basis: 0;
    margin-left: var(--l);
}

.Journal-moodPanel {
    width: 100%;
}

.Journal-calendar {
    font-family: 'Cabin', sans-serif;
}