.Manage-subContainer {
    width: 45vw;
    margin-left: var(--l);
    margin-top: var(--m);
}

.Manage-mergeSelect {
    display: inline-block;
    width: 10em;
}

@media screen and (max-width: 1000px){
    .Manage-subContainer {
        width: calc(100vw - 2 * var(--l));
        margin-right: var(--l);
    }
    .Manage-mergeSelect {
        width: 8em;
    }
}
