.Overview-moodButton {
    border: 0;
    border-radius: 10%;
    box-shadow: none;
    margin-left: var(--s);
    margin-bottom: var(--s);
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
}

.Overview-subContainer {
    margin-left: var(--l);
    margin-top: var(--m);
}

.Overview-stats {
    flex-grow: 1;
}

.Overview-quickstats {
    width: 40vw;
}

.Overview-explore {
    width: 55vw;
    margin-right: var(--l);
}

@media screen and (max-width: 1000px){
    .Overview-subContainer {
        width: calc(100vw - 2 * var(--l));
        margin-right: var(--l);
    }
  }