.Overview-moodButton {
    border: 0;
    border-radius: 10%;
    box-shadow: none;
    margin-left: var(--s);
    margin-bottom: var(--s);
    font-family: 'Cabin', sans-serif;
}

.Overview-subContainer {
    width: 45vw;
    margin-left: var(--l);
    margin-top: var(--m);
}

.Overview-stats {
    flex-grow: 1;
}

@media screen and (max-width: 800px){
    .Overview-subContainer {
        width: calc(100vw - 2 * var(--l));
        margin-right: var(--l);
    }
  }