.App-book {
    width: 25em;
}

.App-bookEmoji {
    font-size: 2em;
    animation-duration: calc(var(--anim) * 15);
    animation-name: fadeout;
    animation-iteration-count: infinite;
    opacity: 1;
    position: absolute;
}

@media screen and (min-width: 1000px){
    .App-book {
        width: 40vw;
    }

    .App-bookEmoji {
        font-size: 3.2vw;
    }
  }

.App-bookEmoji1 {
    animation-delay: calc(var(--anim) * 1);
    top: 70%;
    right: 75%;
}

.App-bookEmoji2 {
    animation-delay: calc(var(--anim) * 2);
    top: 13%;
    right: 60%;
}

.App-bookEmoji3 {
    animation-delay: calc(var(--anim) * 3);
    top: 36%;
    right: 34%;
}

.App-bookEmoji4 {
    animation-delay: calc(var(--anim) * 4);
    top: 25%;
    right: 78%;
}

.App-bookEmoji5 {
    animation-delay: calc(var(--anim) * 5);
    top: 28%;
    right: 6%;
}

.App-bookEmoji6 {
    animation-delay: calc(var(--anim) * 6);
    top: 68%;
    right: 23%;
}

.App-bookEmoji7 {
    animation-delay: calc(var(--anim) * 7);
    top: 61%;
    right: 10%;
}

.App-bookEmoji8 {
    animation-delay: calc(var(--anim) * 8);
    top: 10%;
    right: 32%;
}

.App-bookEmoji9 {
    animation-delay: calc(var(--anim) * 9);
    top: 75%;
    right: 59%;
}

.App-bookEmoji10 {
    animation-delay: calc(var(--anim) * 10);
    top: 41%;
    right: 65%;
}

.App-bookEmoji11 {
    animation-delay: calc(var(--anim) * 11);
    top: 52%;
    right: 81%;
}

.App-bookEmoji12 {
    animation-delay: calc(var(--anim) * 12);
    top: 45%;
    right: 21%;
}

.App-bookEmoji13 {
    animation-delay: calc(var(--anim) * 13);
    top: 47%;
    right: 52%;
}

.App-bookEmoji14 {
    animation-delay: calc(var(--anim) * 14);
    top: 12%;
    right: 12%;
}

.App-bookEmoji15 {
    animation-delay: calc(var(--anim) * 15);
    top: 73%;
    right: 36%;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    2% {
        opacity: 0; 
    }

    10% {
        opacity: 0; 
    }

    10% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
  }